.container {
  background-color: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: flex-start;
  border-radius: 8px;
}

.container table {
  border-collapse: collapse;
}

.container th {
  text-align: left;
  padding: 8px 16px;
} 

.container td {
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid #cacaca;
  border-collapse: collapse;
}